

/*-------------------------Body-----------------------------*/


body{
    background-color: linear-gradient(93.85deg,#7affd8 -6.23%,#fff 44.85%,#6351d7 100.38%);;
    background: #0f0d1e;
    color: #fff;
}



/*------------------------Section----------1-------------------*/



.row{
    padding: 20px 50px 10px 50px;
}
.heading{
    position: relative;
}

.heading h5{
    position:absolute;
    left:43px;
    top: 0.000125px;
    color: #FFFFFF;
    }

.components{
    position: relative;
    text-align: center;
    color: #FFFFFF;

}

.components p{
    display: inline-block;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;
}
.components p:hover{
    opacity: 0.7s;
    color: #00FFD1;
}


.button1{
    text-align: right;
}

.buttons:hover{
    opacity: 0.7s;
    color: white;
}



/*-------------------------Section----------2-------------------*/



.container .section2{
    max-width: 80%;
    text-align: center;
    margin: 120px 110px 110px 110px;
    
}

.para1{
    margin-top: 20px;
}

.title h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: 0;
    max-width: 882px;
}

.buttons .btn{
    margin-left: 20px;
}



/*--------------------------Section----------3-------------------*/



.section3{

    max-width: 80%;
    margin-left: 120px;
}

.dollar h2{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    cursor: pointer;
}

.dollar h2:hover{
    color: #00FFD1;
}


.dollar p{
    text-align: center;
}

.line{
    border-right: 2px solid black;
}

.line .M{
    color: #00FFD1;
}



/*------------------------Section----------5-------------------*/



.section5{
    max-width: 60%;
    text-align: center;
    margin-left: 230px;

}


.infoText h2{
    font-size: 3rem;
}


.infoText p{
    line-height: 0;
}


.infoText1 p{
    line-height: 5px;
}

 

/*-------------------------Section----------12-------------------*/



.rowbox{
    border-radius: 25px;
    border: 1px solid lightgrey;
    padding: 50px 30px 50px 30px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 70px;
}


.box{
    position: relative;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid  lightgrey;
}

.seeall{
    text-align: center;
    padding: 12px 12px;
}

.box h6{
    position: absolute;
    margin-left: 60px;  
}

.box p{
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

.img1{
    display: inline-block;
    position: relative;
    height: 50%;
    float: left;
}


.read{
    text-align: center;
}

.read a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

.read .bi{
    color: #00FFD1;
    font-size: 2rem;
}



/*------------------------Section----------6-------------------*/



.section6{
    padding: 200px 0 200px 0;
    max-width: 70%;
    text-align: center;
    margin:auto;
}


.info11 h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.info11 p{
    margin-top: 10px;
    line-height: 5px;
    font-weight: 100;
}

.last{
    margin: 50px auto;
}

.imgrow{
    text-align: left;
    background: linear-gradient(123.71deg,#fff,rgba(189,179,255,0) 50.21%),linear-gradient(122.69deg,#8769ff 8.82%,#67ffd5 109.84%);
    border: 0.5px solid grey;
    border-radius: 25px;

}

.imgrow p{
    line-height: 8px;
}


.boxdev{
    position: relative;
}

.developers{
    position: absolute;
    width:98%;
    height: 45%;
    top: 0px;
    font-size: 1.5rem;
    text-align: left;
    padding: 25px 25px 50px 20px;
    line-height: 20px;
    border: 0.5px solid lightgrey;
    border-radius: 25px;
}


.developers p{
    margin-top: 40px;
    line-height: 0px;
    font-size: 1rem;
}


.dao{
    position: absolute;
    width: 98%;
    height: 45%;
    top: 210px;
    font-size: 1.5rem;
    text-align: left;
    padding: 40px 25px 25px 20px;
    line-height: 20px;
    border: 0.5px solid lightgrey;
    border-radius: 25px;
}

.dao p{
    margin-top: 40px;
    line-height: 0px;
    font-size: 1rem;
}



/*-------------------------Section----------7-------------------*/



.leader{
    margin-left: 120px;
    text-align: left;
    display: inline-block;
}

.leader h2{
    font-size: 2rem;
    max-width: 200px;
}

.leader p{
    font-size: 0.91rem;
    max-width: 200px;
}

.imgmem{
    height: 105px;
    width: 105px;
    margin-bottom: 20px;
}

.photo11{
    height: 400px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid ;
    outline: 1px solid #22746b!important;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}

.logo12{
    line-height: 4px;
    border-left: 3px solid #B9FFF8;
    padding-top: 10px;
    margin-bottom: 180px;
    margin-left: 120px;
}



/*-------------------------Section----------8-------------------*/



.section8{
    margin-bottom: 150px;
    max-width: 60%;
    margin: auto;
    font-family: Poppins,sans-serif;
}

.people{
    text-align: center;
    margin-top: 100px;
    font-family: Poppins,sans-serif;
}

.slide{
    text-align: center;
    margin-top: 30px;
    border-radius: 25px;
    border: 3px solid #0b0e4f;
}

.active{
    position: relative;
}



/*-------------------------Section----------9-------------------*/



.section9{
    max-width: 55%;
    margin: auto;
}

.stickers{
    margin-top: 50px;
    margin-left: 20px;
}

.ethereum img{
    height:7px;
    height: 28px;
}
.stack{
    text-align: center;
}

.stack h4{
    font-size: 2rem;
}



/*------------------------Section----------10-------------------*/



.input{
    position:relative;
    border: 0.5px solid lightgray;
    border-radius: 25px;
    width: 80%;
    height: 320px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: var(--bs-body-font-family);
}


.group{
    top: 100px;
    width: 50%;
    margin: auto;
    background: #0f0d1e;
    color: #fff;

}

.form-control{
    background: #0f0d1e;
    color: #fff;
    border: 0.1px solid lightgray;
}

.join p{
    margin-top: 20px;
}

.stay h4{
    font-size: 2rem;
    margin-top: 1px;
}

.you{
    position: absolute;
    top: 110px;
    left: 450px;
}


/*------------------------Section----------11-------------------*/


.section11{
    position: relative;
}

hr{
    width: 93%;
    margin: auto;
}

.copyright{
    text-align: center;
    margin: auto;
    padding-bottom: 40px;
    color: lightgray;
}


.icon2{
    text-align: center;
}

.icon2 a{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 1.5rem;
    color: #F4F9F9;
}

.icon2 a:hover{
    color: #00FFD1;
}

.audit{
    display: inline;

}

.audit p{
    width: fit-content;
    margin-left: 290px;
}
.batan{
    margin-left: 250px;
    
}

.imgCoro1{
    width:105px;
    height:105px;
}

.imgCoro2{
    width:105px;
    height:105px;
}